body {
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}

ul {
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    word-spacing: 40px;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    margin-left: 20px;
}

h1 {
    font-size: 28px;
}

header p {
    font-style: italic;
}

article > p {
    font-size: 24px;
}

footer {
    text-align: center;
    background-color: #444;
    color: #fff;
}